.img {
  margin-bottom: 50px;
}

a .title2 {
  margin-top: 50px;
  width: 150px;
  height: 150px;
}

.pod-desc {
  margin-bottom: 20px;
}

a .apple {
  margin-left: 0px;
  font-size: 5px;
}

a .link {
  margin-left: 0px;
  font-size: 5px;
}

a .rss {
  margin-left: 0px;
  font-size: 5px;
}
