<div class="card">
  <div class="row">
    <div class="col-sm-4 mt-4">
      <a href="#" *ngFor="let pod of podcasts"
        ><img src="{{ pod.image }}" class="img" width="150" height="150" />
      </a>
    </div>
    <hr />
    <div class="col-sm-4 mt-4 body-title2">
      <p class="title2" *ngFor="let pod of podcasts">
        <strong>{{ pod.title }}</strong> <br />
        By {{ pod.publisher }} <br /><br /><br />
        {{ pod.total_episodes }} Episodes <br /><br />
        <span class="hr"></span>
        <a href="#"
          ><img
            class="card-text apple"
            src="assets/images/apple.svg"
          />&nbsp;ITUNES</a
        >&nbsp;
        <a href="#"
          ><img
            class="card-text link"
            src="assets/images/link.svg"
          />&nbsp;WEB</a
        >&nbsp;
        <a href="#"
          ><img class="card-text rss" src="assets/images/rss.svg" />&nbsp;RSS</a
        >
      </p>
    </div>
    <hr />
    <div class="col-sm-4 mt-4">
      <p class="card-text pod-desc" *ngFor="let pod of podcasts">
        {{ pod.description }}
      </p>
    </div>
  </div>
</div>
<br /><br />
