/* You can add global styles to this file, and also import other style files */

.containaer {
  background-color: purple;
  text-align: center;
}

.navbar {
  background-color: purple;
  text-align: center;
  padding-left: 50px;
  height: 230px;
}
.pod-title {
  color: white;
  margin-left: 200px;
}

a .title2 {
  margin-top: 200px;
  padding-bottom: 50px;
  width: 150px;
  height: 150px;
}
