/* You can add global styles to this file, and also import other style files */
@import "styles-variables";
@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
abe-header {
  nav {
    width: 100%;
  }

  @media (min-width: map-get($grid-breakpoints, sm)) {
    nav {
      width: 80%;
    }
  }
}

.containaer {
  background-color: purple;
  text-align: center;
}

.navbar {
  background-color: purple;
  text-align: center;
  padding-left: 50px;
  height: 150px;
}
.pod-title {
  color: white;
  margin-left: 300px;
  font-size: 24px;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

p .title2 {
  margin-top: 400px;
  margin-bottom: 300px;
  font-size: 18px;
  width: 100%;
  height: 150px;
}

.side-img {
  margin-top: 20px;
}

.side-bar-img {
  margin-top: 60px;
  margin-left: 200px;
}

.body-title2 {
  margin-bottom: 70px;
  margin-top: 100px;
}

a .apple {
  margin-left: 50px;
  font-size: 5px;
  margin-bottom: 150px;
}

a .link {
  margin-left: 50px;
  font-size: 5px;
}

a .rss {
  margin-left: 50px;
  font-size: 5px;
  margin-bottom: 150px;
}

.hr {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.pod-img {
  margin-top: -190px;
}

.pod-img2 {
  margin-left: -100px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media only screen and (max-width: 600px) {
  .navbar {
    background-color: purple;
    text-align: center;
    padding-left: 50px;
    height: 250px;
  }

  .pod-title {
    color: white;
    margin-right: 100px;
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .side-bar-img {
    display: none;
  }
}

@media (max-width: 600px) {
  .body-content {
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    -webkit-column-rule: 1px solid #000;

    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -moz-column-rule: 1px solid #000;

    column-count: 3;
    column-gap: 20px;
    column-rule: 1px solid #000;
  }
}
